/*
Inspired by Moran Nachum, inspired by www.markromanek.com
*/

body {
	background: #FF9999;
	color: #FFFFFF;
	font-family: 'Bungee Shade', cursive;
/*	font-family: 'Fjalla One', sans-serif;
*/}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #222222;
	text-decoration: none;
	background-color: #FFFFFF;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

#content {
	position: absolute;
	margin-top: 7%;
	margin-left: 15%;
	width: 70%;
	height: auto;
	font-size: 24pt;
	line-height: 36pt;
}

h1 {
	font-size: 50pt;
	line-height: 70px;
}

@media (max-width: 420px){
    #content { 
		margin-left: 5%;
    }
    h1 {
    	font-size: 40pt;
    	line-height: 60px;
    }

}
